@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: local("Inter"), url("../fonts/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: local("Inter"), url("../fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: local("Inter"), url("../fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: local("Inter"), url("../fonts/Inter-Black.ttf") format("truetype");
}
a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}
button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.default-title {
  font: 500 26px/34px "Inter";
}

.default-container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.default-delimetr {
  border-top: 1px solid #e3e3e3;
}

.developer-page {
  margin: 0;
  background-color: #f2f2f2;
}
.developer-page__inner {
  max-width: 1100px;
  width: 100%;
  margin: 20px auto 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
  padding: 0 48px;
  box-sizing: border-box;
}
@media only screen and (max-width: 992px) {
  .developer-page__inner {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .developer-page__inner {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.developer-page__header {
  padding: 48px 0;
  position: relative;
}

.glued-date {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  display: grid;
  grid-template-columns: 1fr minmax(auto, 61.0909%);
}
@media only screen and (max-width: 768px) {
  .glued-date {
    position: relative;
    top: -49px;
    transform: translateY(0);
    grid-template-columns: 0fr 1fr;
  }
}
.glued-date__wrapper-updated {
  text-align: center;
}
.glued-date__updated {
  background-color: #ffffff;
  display: inline-block;
  padding: 3px 8px 0;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.02), -2px 0px 0px 0px rgba(0, 0, 0, 0.01), 2px 0px 0px 0px rgba(0, 0, 0, 0.01);
}
@media only screen and (max-width: 768px) {
  .glued-date__updated {
    border-radius: 0px 0px 5px 5px;
    box-shadow: none;
    border: solid 1px #e3e3e3;
  }
}
.glued-date__text {
  margin: 0;
  font: 300 14px/20px "Inter";
  color: #818181;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
.header__avatar {
  flex-shrink: 3;
  width: 100%;
  max-width: 344px;
  min-width: 250px;
  text-align: center;
}
.header__info {
  flex-shrink: 1;
  width: 100%;
  max-width: 624px;
  margin-left: 48px;
}
@media only screen and (max-width: 768px) {
  .header__info {
    margin-left: 0;
    margin-top: 48px;
    text-align: center;
  }
}

.avatar-header {
  display: inline-block;
  border: 4px solid;
  border-color: #85B2F9;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .avatar-header {
    height: 180px;
    width: 180px;
  }
}
.avatar-header__inner {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.avatar-header__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-header {
  font-family: "Inter";
}
.info-header__text {
  margin: 0;
  font-weight: 300;
}
.info-header__name {
  font-size: 48px;
  line-height: 52px;
  font-weight: 500;
}
@media only screen and (max-width: 576px) {
  .info-header__name {
    font-size: 36px;
    line-height: 42px;
  }
}
.info-header__position {
  font-size: 28px;
  line-height: 36px;
  margin-top: 16px;
}
@media only screen and (max-width: 576px) {
  .info-header__position {
    font-size: 22px;
    line-height: 28px;
  }
}
.info-header__location {
  display: inline-block;
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
  padding-left: 46px;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .info-header__location {
    font-size: 16px;
    line-height: 22px;
  }
}
.info-header__location::before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img/icon_location.svg");
  background-repeat: no-repeat;
  background-position: center bottom 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.content {
  font: 400 18px/30px "Inter";
}
.content__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}
@media only screen and (max-width: 768px) {
  .content__container {
    flex-direction: column;
    padding-bottom: 0;
  }
}
.content__column {
  padding-top: 48px;
  border-top: 1px solid #e3e3e3;
}
@media only screen and (max-width: 768px) {
  .content__column {
    padding-bottom: 48px;
  }
}
.content__column_small {
  width: 100%;
  max-width: 344px;
  min-width: 250px;
}
@media only screen and (max-width: 768px) {
  .content__column_small {
    max-width: initial;
  }
}
.content__column_medium {
  max-width: 624px;
  margin-left: 48px;
}
@media only screen and (max-width: 768px) {
  .content__column_medium {
    margin-left: 0;
    max-width: initial;
    width: 100%;
  }
}

.combined-info__block {
  padding-top: 48px;
  border-top: 1px solid #e3e3e3;
  margin-top: 47px;
}
@media only screen and (max-width: 768px) {
  .combined-info__block_languages {
    display: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
}
.combined-info__block:first-child {
  padding-top: 0;
  border-top: none;
  margin-top: 0;
}

.card-info__title {
  margin: 0;
  font: 500 26px/34px "Inter";
}
@media only screen and (max-width: 768px) {
  .card-info__title {
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .card-info__title {
    font-size: 22px;
    line-height: 28px;
  }
}
.card-info__foreword {
  margin-top: 32px;
}
.card-info__content {
  margin-top: 32px;
}
.card-info__content-body {
  margin-top: 16px;
}
.card-info__text {
  margin: 0;
  font: 300 18px/30px "Inter";
}
@media only screen and (max-width: 576px) {
  .card-info__text {
    font-size: 16px;
    line-height: 22px;
  }
}
.card-info__list {
  margin: 0;
  padding-left: 0;
  font: 300 18px/30px "Inter";
  list-style: none;
}
@media only screen and (max-width: 576px) {
  .card-info__list {
    font-size: 16px;
    line-height: 22px;
  }
}
.card-info__list_special .card-info__item {
  margin-bottom: 32px;
}
.card-info__list_special .card-info__item:last-child {
  margin-bottom: 0;
}
.card-info__item {
  padding-left: 32px;
  background: top 0.75rem left/8px 8px no-repeat url("../img/icon_marker.svg");
  margin-top: 8px;
}
.card-info__item:first-child {
  margin-top: 0;
}
.card-info__item b {
  font-weight: 500;
}
.card-info__wrapper-img {
  margin-top: 16px;
  max-width: 100%;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
}
.card-info__wrapper-img_cb-create {
  max-height: 265px;
  overflow: hidden;
}
.card-info__img {
  width: 100%;
  display: block;
}
.card-info__group-btn {
  margin-top: 14px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 14px;
  row-gap: 14px;
}
@media only screen and (max-width: 576px) {
  .card-info__group-btn {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}
.card-info__btn {
  font: 300 18px/30px "Inter";
  display: inline-block;
  text-decoration: none;
  border: solid 2px #1e1e1e;
  padding: 4px 12px 4px 45px;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  position: relative;
  transition: 100ms;
}
@media only screen and (max-width: 576px) {
  .card-info__btn {
    font-size: 16px;
    line-height: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 8px;
  }
}
.card-info__btn:hover {
  background-color: #1e1e1e;
  color: #ffffff;
  transition: 200ms;
}
.card-info__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
}
.card-info__btn_demo::before {
  background: 100% url("../img/icon_desktop.svg") no-repeat;
}
.card-info__btn_code::before {
  background: 100% url("../img/icon_github.svg") no-repeat;
}
.card-info__note {
  margin-top: 32px;
  margin-bottom: 0;
  font: 300 14px/22px "Inter";
  color: #5a5a5a;
}

.card-info_contacts {
  height: 100%;
}
.card-info_contacts > .card-info__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-info_contacts .card-info__content {
  flex-grow: 1;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.contacts__item {
  position: relative;
  padding-left: 56px;
  margin-top: 8px;
}
@media only screen and (max-width: 576px) {
  .contacts__item {
    padding-left: 46px;
  }
}
.contacts__item:first-child {
  margin-top: 0;
}
.contacts__item::before {
  content: "";
  height: 32px;
  width: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: center center/contain no-repeat url("../img/icon_arrow-forvard.svg");
}
@media only screen and (max-width: 576px) {
  .contacts__item::before {
    width: 26px;
  }
}
.contacts__item_whatsapp::before {
  background: center center/contain no-repeat url("../img/icon_whatsapp.svg");
}
.contacts__item_telegram::before {
  background: center center/contain no-repeat url("../img/icon_telegram.svg");
  height: 30px;
}
.contacts__item_github::before {
  background: center center/contain no-repeat url("../img/icon_github.svg");
  height: 29px;
}
.contacts__link {
  color: #000000;
  text-decoration: none;
}
@media only screen and (max-width: 576px) {
  .contacts__link {
    font-size: 18px;
    line-height: 24px;
  }
}
.contacts__link:hover {
  color: rgb(70, 70, 70);
}
.contacts__subtext {
  margin-top: 32px;
  font: 300 14px/22px "Inter";
  color: #5a5a5a;
}/*# sourceMappingURL=style.css.map */